table {
  border-collapse: collapse;
  margin: 30px auto;
  font-family: sans-serif;
  width: 800px;
  table-layout: fixed;
}

tr {
  height: 40px;
}

td {
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
}

.row-1 td {
  background-color: #098f8f;
  color: #ffffff;
  transition: 0.3s;
}

.row-2 td {
  background-color: #f5f509;
  color: #000000;
  transition: 0.3s;
}

.row-1:hover td {
  background-color: #f5f509;
  color: #000000;
}

.row-2:hover td {
  background-color: #098f8f;
  color: #ffffff;
}

.japan-flag {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid black;
  margin: 20px auto 40px auto;
  position: relative;
}

.sun-position {
  width: 120px;
  height: 120px;
  background-color: #cc0001;
  border-radius: 50%;
  
  position: absolute;
  top: 40px;
  left: 90px;
}

.sun-transform {
  width: 120px;
  height: 120px;
  background-color: #cc0001;
  border-radius: 50%;
  
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
